<form class='form-group' {{action 'createApartment' on ='submit'}}>
  {{input placeholder='Address' value=newApartment.address}}
  {{input placeholder='Rent' value=newApartment.rent}}
  {{input placeholder='Number of bedrooms' value=newApartment.bedrooms}}
  {{input placeholder='Number of bathrooms' value=newApartment.bathrooms}}
  {{textarea class='form-control'  rows="5" placeholder='Description' value=newApartment.description}}
  Pets are allowed {{input type="checkbox" name="Pets allowed?" checked=newApartment.petsAllowed}}
  <br>
  {{#if isAuthenticated}}
  <button type ='submit'> Save </button>
  {{else}}
  <p> Please sign-in to create a listing!</p>
  {{/if}}
</form>
{{#link-to 'apartments'}} Back {{/link-to}}
