<form class='form-group' {{action 'createApartment' on ='submit'}}>
  {{input placeholder='Address' value=newApartment.address}}
  {{input placeholder='Rent' value=newApartment.rent}}
  {{input placeholder='Number of bedrooms' value=newApartment.bedrooms}}
  {{input placeholder='Number of bathrooms' value=newApartment.bathrooms}}
  {{textarea class='form-control'  rows="5" placeholder='Description' value=apartment.description}}
  Pets are allowed {{input type="checkbox" name="Pets allowed?" checked=newApartment.petsAllowed}}
  <br>
  <button type ='submit'> Save </button>
</form>
{{#link-to 'apartments'}} Back {{/link-to}}
