<h3> {{apartment.address}} </h3>
<h4>Available for ${{apartment.rent}}</h4>
<ul>
  <li>Bedrooms: <strong>{{apartment.bedrooms}}</strong> </li>
  <li>Bathrooms: <strong>{{apartment.bathrooms}}</strong> </li>
  <li>description: <strong>{{apartment.description}}</strong> </li>
  <li>Pets allowed: <strong>{{apartment.petsAllowed}}</strong> </li>
</ul>
{{outlet}}
{{#if apartment.editable}}
{{#link-to 'apartment/edit' apartment}} Edit apartment listing{{/link-to}}
<br>
<button {{action 'deleteApartment' apartment=model}}>Delete apartment listing</button>
{{/if}}
