<h3> {{apartment.address}} </h3>
<h4>Available for {{format-money apartment.rent precision=0}}</h4>
<ul>
{{#if apartment.bedrooms}}
  <li>Bedrooms: <strong>{{apartment.bedrooms}}</strong> </li>
{{/if}}
{{#if apartment.bathrooms}}
  <li>Bathrooms: <strong>{{apartment.bathrooms}}</strong> </li>
{{/if}}
{{#if apartment.description}}
  <li>description: <strong>{{apartment.description}}</strong> </li>
{{/if}}
  <li>Pets allowed: <strong>{{apartment.petsAllowed}}</strong> </li>
</ul>
{{outlet apartment=apartment}}
<button {{action 'seePhotos' apartment=apartment}}>See Photos</button>
{{#if apartment.editable}}
{{#link-to 'apartment/edit' apartment}} Edit listing{{/link-to}}
<br>
<button {{action 'deleteApartment' apartment=model}}>Delete listing</button>
{{/if}}
