<div class='card text-center'>
<h3 class='card-title'> {{apartment.address}} </h3>
{{#if apartment.rent}}
<h4 class='card-title'>Available for: {{format-money apartment.rent precision=0}}</h4>
{{/if}}
<h5 class="card-title"> <strong> Bedrooms: </strong> {{apartment.bedrooms}} <strong> Bathrooms: </strong> {{apartment.bathrooms}}</h5>
<h5 class="card-title"> <strong>Pets allowed: </strong> {{apartment.petsAllowed}} </h5>
</div>
<div class='card text-left'>
<div class="card-text">
{{#if apartment.description}}
  <strong> Description: </strong> {{apartment.description}}
{{/if}}
<br>
</div>
 </div>
{{outlet apartment=apartment}}
<button {{action 'seePhotos' apartment=apartment}}>See Photos</button>
<br>
{{#if apartment.editable}}
{{#link-to 'apartment/edit' apartment}} Edit listing{{/link-to}}
<br>
<button {{action 'deleteApartment' apartment=model}}>Delete listing</button>
{{/if}}
